# Assignment Pandas 1

## Import Package

In [73]:
#Import package
import pandas as pd

#Slides 55) similar to the image below (left image), one cell for every command.

In [74]:
# 26 Creating a DataFrame from a CSV file and specifying the Index column
data = pd.read_csv("elections.csv", index_col = "Candidate")

In [75]:
#28
data.set_index("Party")

             Year  Popular vote Result           %
Party
Independent  1788           NaN    win  100.000000
Federalist   1788           NaN   loss         NaN
Independent  1792           NaN    win  100.000000
Federalist   1792           NaN   loss         NaN
Federalist   1796           NaN    win   53.400000
...           ...           ...    ...         ...
Green        2020      405035.0   loss    0.255731
Democratic   2020    81268924.0    win   51.311515
Libertarian  2020     1865724.0   loss    1.177979
Republican   2024    77300000.0    win   49.800000
Democratic   2024    75000000.0   loss   48.300000

[74 rows x 4 columns]

In [76]:
#29
data.reset_index()

            Candidate  Year        Party  Popular vote Result           %
0   George Washington  1788  Independent           NaN    win  100.000000
1          John Adams  1788   Federalist           NaN   loss         NaN
2   George Washington  1792  Independent           NaN    win  100.000000
3          John Adams  1792   Federalist           NaN   loss         NaN
4          John Adams  1796   Federalist           NaN    win   53.400000
..                ...   ...          ...           ...    ...         ...
69     Howard Hawkins  2020        Green      405035.0   loss    0.255731
70       Joseph Biden  2020   Democratic    81268924.0    win   51.311515
71       Jo Jorgensen  2020  Libertarian     1865724.0   loss    1.177979
72       Donald Trump  2024   Republican    77300000.0    win   49.800000
73      Kamala Harris  2024   Democratic    75000000.0   loss   48.300000

[74 rows x 6 columns]

In [77]:
#31
data.set_index("Party")

             Year  Popular vote Result           %
Party
Independent  1788           NaN    win  100.000000
Federalist   1788           NaN   loss         NaN
Independent  1792           NaN    win  100.000000
Federalist   1792           NaN   loss         NaN
Federalist   1796           NaN    win   53.400000
...           ...           ...    ...         ...
Green        2020      405035.0   loss    0.255731
Democratic   2020    81268924.0    win   51.311515
Libertarian  2020     1865724.0   loss    1.177979
Republican   2024    77300000.0    win   49.800000
Democratic   2024    75000000.0   loss   48.300000

[74 rows x 4 columns]

In [78]:
#31 1
data.index

Index(['George Washington', 'John Adams', 'George Washington', 'John Adams',
       'John Adams', 'Thomas Jefferson', 'Thomas Jefferson', 'John Adams',
       'Thomas Jefferson', 'Charles C. Pinckney', 'James Madison',
       'Charles C. Pinckney', 'James Madison', 'DeWitt Clinton',
       'James Monroe', 'Rufus King', 'James Monroe', 'John Quincy Adams',
       'Andrew Jackson', 'John Quincy Adams', 'Andrew Jackson',
       'John Quincy Adams', 'Andrew Jackson', 'William Henry Harrison',
       'Martin Van Buren', 'Martin Van Buren', 'William Henry Harrison',
       'James K. Polk', 'Henry Clay', 'Zachary Taylor', 'Lewis Cass',
       'Franklin Pierce', 'Winfield Scott', 'John C. FrÃ©mont',
       'James Buchanan', 'John C. Breckinridge', 'Abraham Lincoln',
       'Abraham Lincoln', 'George B. McClellan', 'Horatio Seymour',
       'Ulysses S. Grant', 'Ulysses S. Grant', 'Horace Greeley',
       'Samuel J. Tilden', 'Rutherford B. Hayes', 'James A. Garfield',
       'Winfield S. Hancock', 'Grover Cleveland', 'James G. Blaine',
       'Grover Cleveland', 'Benjamin Harrison', 'Grover Cleveland',
       'Benjamin Harrison', 'William McKinley', 'William Jennings Bryan',
       'William McKinley', 'William Jennings Bryan', 'Theodore Roosevelt',
       'Alton B. Parker', 'William Jennings Bryan', 'William H. Taft',
       'Theodore Roosevelt', 'Woodrow Wilson', 'Charles E. Hughes',
       'Woodrow Wilson', 'James M. Cox', 'Warren G. Harding', 'Jill Stein',
       'Donald Trump', 'Howard Hawkins', 'Joseph Biden', 'Jo Jorgensen',
       'Donald Trump', 'Kamala Harris'],
      dtype='object', name='Candidate')

In [79]:
#31 2
data.columns

Index(['Year', 'Party', 'Popular vote', 'Result', '%'], dtype='object')

In [80]:
#31 3
data.shape

(74, 5)

In [81]:
#37
data.head(5)

                   Year        Party  Popular vote Result      %
Candidate
George Washington  1788  Independent           NaN    win  100.0
John Adams         1788   Federalist           NaN   loss    NaN
George Washington  1792  Independent           NaN    win  100.0
John Adams         1792   Federalist           NaN   loss    NaN
John Adams         1796   Federalist           NaN    win   53.4

In [82]:
#37
data.tail(5)

                Year        Party  Popular vote Result          %
Candidate
Howard Hawkins  2020        Green      405035.0   loss   0.255731
Joseph Biden    2020   Democratic    81268924.0    win  51.311515
Jo Jorgensen    2020  Libertarian     1865724.0   loss   1.177979
Donald Trump    2024   Republican    77300000.0    win  49.800000
Kamala Harris   2024   Democratic    75000000.0   loss  48.300000

In [84]:
#40
data = data.reset_index()
data.loc[[1,2,3],["Year", "Candidate", "Result"]]

   Year          Candidate Result
1  1788         John Adams   loss
2  1792  George Washington    win
3  1792         John Adams   loss

In [85]:
#41
data = data.reset_index()
data.loc[[1,2,3],"Popular vote":"%"]

   Popular vote Result      %
1           NaN   loss    NaN
2           NaN    win  100.0
3           NaN   loss    NaN

In [86]:
#42
data = data.reset_index()
data.loc[:,["Year", "Candidate", "Result"]]

    Year          Candidate Result
0   1788  George Washington    win
1   1788         John Adams   loss
2   1792  George Washington    win
3   1792         John Adams   loss
4   1796         John Adams    win
..   ...                ...    ...
69  2020     Howard Hawkins   loss
70  2020       Joseph Biden    win
71  2020       Jo Jorgensen   loss
72  2024       Donald Trump    win
73  2024      Kamala Harris   loss

[74 rows x 3 columns]

In [89]:
#42
data.loc[[1,2,3],:]

,level_0,index,Candidate,Year,Party,Popular vote,Result,%
1,1,1,John Adams,1788,Federalist,NaN,loss,NaN
2,2,2,George Washington,1792,Independent,NaN,win,100.0
3,3,3,John Adams,1792,Federalist,NaN,loss,NaN

In [90]:
#43
data.loc[[1,2,3],"Popular vote"]

1   NaN
2   NaN
3   NaN
Name: Popular vote, dtype: float64

In [91]:
#43
data.loc[0,"Candidate"]

'George Washington'

In [92]:
#46
data.iloc[[1,2,3],[0,1,2]]

   level_0  index          Candidate
1        1      1         John Adams
2        2      2  George Washington
3        3      3         John Adams

In [93]:
#47
data.iloc[[1,2,3], 0:3]

   level_0  index          Candidate
1        1      1         John Adams
2        2      2  George Washington
3        3      3         John Adams

In [94]:
#48
data.iloc[:, 0:3]

    level_0  index          Candidate
0         0      0  George Washington
1         1      1         John Adams
2         2      2  George Washington
3         3      3         John Adams
4         4      4         John Adams
..      ...    ...                ...
69       69     69     Howard Hawkins
70       70     70       Joseph Biden
71       71     71       Jo Jorgensen
72       72     72       Donald Trump
73       73     73      Kamala Harris

[74 rows x 3 columns]

In [95]:
#49
data.iloc[[1,2,3],1]

1    1
2    2
3    3
Name: index, dtype: int64

In [96]:
#49
data.iloc[0,1]

0

In [97]:
#53
data[3:7]

,level_0,index,Candidate,Year,Party,Popular vote,Result,%
3,3,3,John Adams,1792,Federalist,NaN,loss,NaN
4,4,4,John Adams,1796,Federalist,NaN,win,53.4
5,5,5,Thomas Jefferson,1796,Democratic-Republican,NaN,loss,46.6
6,6,6,Thomas Jefferson,1800,Democratic-Republican,NaN,win,61.4

In [98]:
#54
data[["Year","Candidate","Result"]]

    Year          Candidate Result
0   1788  George Washington    win
1   1788         John Adams   loss
2   1792  George Washington    win
3   1792         John Adams   loss
4   1796         John Adams    win
..   ...                ...    ...
69  2020     Howard Hawkins   loss
70  2020       Joseph Biden    win
71  2020       Jo Jorgensen   loss
72  2024       Donald Trump    win
73  2024      Kamala Harris   loss

[74 rows x 3 columns]

In [99]:
#55
data["Candidate"]

0     George Washington
1            John Adams
2     George Washington
3            John Adams
4            John Adams
            ...
69       Howard Hawkins
70         Joseph Biden
71         Jo Jorgensen
72         Donald Trump
73        Kamala Harris
Name: Candidate, Length: 74, dtype: object